<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<div layout:fragment="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="count_hawkerlisting"></h3>
                    <p>Hawker Listings</p>
                </div>
                <div class="icon" >
                    <i class="glyphicon glyphicon-cutlery"></i>
                </div>
                
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3 id="count_courierlisting"></h3>
                    <p>Courier Listings</p>
                </div>
                <div class="icon" style="top:-10px">
                    <i class="fa fa-motorcycle"></i>
                </div>
                
            </div>
        </div>
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="count_orders"></h3>
                    <p>Orders</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
              
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>$ <b id="count_orderSum" ></b></h3>
                    <p>Earnings</p>
                </div>
                <div class="icon" style="top:-10px">
                    <i class="fa fa-usd"></i>
                </div>
             
            </div>
        </div>
        </div>
    
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-cutlery"></i> Hawker Listings</li>
                </ul>
              <!-- /.card-header -->
              <div class= "tablescroll">
                <table class="table table-hover text-nowrap">
        <thead>
        <tr>
            <th>Id</th>
            <th>Hawker Name</th>           
            <th>Hawker Postal Code</th>
            <th>Stall No</th>
        
        </tr>
        </thead>
             <tr th:each="hawkerlisting:${listHawkers}">
   <td th:text="${hawkerlisting.id}"></td> 
   <td th:text="${hawkerlisting.name}"></td>
   <td th:text="${hawkerlisting.postalCode}"></td>
   <td th:text="${hawkerlisting.stallNo}"></td>
 </tr>
</table>
</div>
              </div>
       
             
           
            <!-- /.nav-tabs-custom -->

        </section>
    
<!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">


            <!-- <!-- solid sales graph -->
            <div class="box box-solid bg-pink-gradient">
                <div class="box-header" style="color:#605ca8">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">Monthly Orders</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-purple btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn bg-purple btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                     <div id="orders" style="height: 250px;"></div>
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </section>
         
           </div>
    <!-- /.row (main row) -->
    
    
    <div class="row">
       <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
 <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-motorcycle"></i> Courier Listings</li>
                </ul>
              <!-- /.card-header -->
              <div class="tablescroll">
                <table class="table table-hover text-nowrap" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Hawker Id</th>
            <th>Pick Up Location</th>
            <th>Order Before Time</th>           
            <th>Pick Up Time</th>
            <th>Pick Up Date</th>
        
        </tr>
        </thead>
        <tbody style="max-height:5px; overflow-y:auto;">
             <tr th:each="courierlisting:${listCouriers}">
   <td th:text="${courierlisting.id}"></td> 
   <td th:text="${courierlisting.hawkerListing.id}"></td>
   <td th:text="${courierlisting.pickupLocation}"></td>
   <td th:text="${courierlisting.orderBeforeTime}"></td>
   <td th:text="${courierlisting.pickupTime}"></td>
   <td th:text="${courierlisting.pickupDate}"></td>
 </tr>
 </tbody>
</table>
</div>
              </div>
       
             
           
            <!-- /.nav-tabs-custom -->

        </section>

        <!-- right col -->
         <section class="col-lg-5 connectedSortable">


            <!-- <!-- solid sales graph -->
            <div class="box box-solid bg-yellow-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">Monthly Earnings</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                     <div id="bar-example" style="height: 250px;"></div>
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </section>
         
      
    </div>
   
</div>






<th:block layout:fragment="script">
<script src="/dist/js/pages/dashboard.js"></script>
<script src="/dist/js/pages/charts.js"></script>
</th:block>
</body>
</html>