<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<div layout:fragment="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="count_listing"></h3>
                    <p>Listings</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3 id="count_producttype"></h3>
                    <p>Orders</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
              
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3 id="count_user"></h3>
                    <p>Earnings</p>
                </div>
                <div class="icon" style="top:-10px">
                    <i class="fa fa-usd"></i>
                </div>
             
            </div>
        </div>
        </div>
    
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Listings</li>
                </ul>
              <!-- /.card-header -->
                <table class="table table-hover text-nowrap">
        <thead>
        <tr>
            <th>Hawker Id</th>
            <th>Course Name</th>           
            <th>Course Start Date</th>
            <th>Capacity</th>
        
        </tr>
        </thead>
             <tr th:each="courierlisting:${listCouriers}">
   <td th:text="${courierlisting.id}"></td> 
   <td th:text="${courierlisting.pickupLocation}"></td>
   <td th:text="${courierlisting.pickupTime}"></td>
   <td th:text="${courierlisting.pickupDate}"></td>
 </tr>
</table>
              </div>
       
             
           
            <!-- /.nav-tabs-custom -->

        </section>
    

         
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">


            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">Monthly Income</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <div class="chart" id="line-chart" style="height: 250px;"></div>
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</div>

<th:block layout:fragment="script">
<script src="/dist/js/pages/dashboard.js"></script>
</th:block>
</body>
</html>